<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">خروج</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" class="ms-3">تسجيل</a>
        <a href="Identity/Account/Login" class="ms-3">دخول</a>
    </NotAuthorized>
</AuthorizeView>
