@inherits LayoutComponentBase


<RadzenComponents @rendermode="InteractiveServer" />
@using MyFarmWeb.Components.Pages
@using MyFarmWeb.Components.Pages.MyComponents
<div class="main">



    <div class="content px-4">
        @Body
    </div>
</div>

