@page "/add-store"
@page "/add-store/{Id:int}"
@using Radzen.Blazor.Rendering
@inject IUnitOfWork unitofwork
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject Service service
@inject NavigationManager nav
@inject NotificationService NotificationService
@rendermode InteractiveServer
@inject Store store
@inject DialogService dialogService
<PageTitle>اضافة مخزن</PageTitle>

<EditForm Model="store" FormName="add-store" class="form-control p-5 m-2 ">


    @if (Errors.Count > 0)
    {
        <RadzenAlert @ref=erroralert AllowClose="false" AlertStyle="AlertStyle.Danger" Size="AlertSize.Small" class="mb-5">
            <ul>
                @foreach (var item in Errors)
                {
                    <li>@item.Value</li>
                }
            </ul>
        </RadzenAlert>
    }


    <RadzenRow class="mb-4">
        <RadzenLabel Text="اسم المخزن" Component="storename" Style="width: 100%; max-width: 200px;" />
        <RadzenTextBox @bind-Value=store.StoreName Style="width: 100%; max-width: 400px;" Name="storename" />


    </RadzenRow>


    <RadzenRow>
        <RadzenButton @ref="newbtn" ButtonType="ButtonType.Button" Shade="Shade.Darker" Text="جديد" Icon="add" ButtonStyle="ButtonStyle.Info" Click="newstore" />

 
        <RadzenButton @ref="addbtn" ButtonType="ButtonType.Submit" Shade="Shade.Darker" Text="@(Id > 0 ? "تعديل" : "حفظ")" Icon="save" ButtonStyle="ButtonStyle.Info" Click="addstore" />

    </RadzenRow>

</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }
    RadzenButton newbtn;
    RadzenButton Cancelbtn;

    public RadzenButton addbtn { get; set; }
    Dictionary<string, string> Errors = new();
    RadzenAlert erroralert;
    public string UserId { get; set; }
    public bool IsValid { get; set; }

    [Inject]
    public LayoutState layoutState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!await service.IsAuth())
        {
            nav.NavigateTo("/Account/Login");
            return;
        }
        UserId = await service.GetUserId();
        if (Id > 0)
        {
            store = unitofwork.Stores.SelectOne(i => i.StoreId == Id && i.UserId == UserId);
        }
    }

    void newstore()
    {
        store = new();
        Errors.Clear();
        Id = 0;
        addbtn.Text = "حفظ";
    }
    async void addstore()
    {
        try
        {
            if (!validation())
            {
                return;
            }
            if (Id > 0)
            {
                unitofwork.Stores.UpdateOne(store);
            }
            else
            {
                store.UserId = UserId;
                unitofwork.Stores.AddOne(store);
                Id = store.StoreId;
                addbtn.Text = "تعديل";
                dialogService.Close(true);
            }
        

            NotificationService.Notify(NotificationSeverity.Success, "تم الحفظ بنجاح", "", 3000);
        }
        catch (Exception ex)
        {

            NotificationService.Notify(NotificationSeverity.Error, "خطأ", ex.Message, 3000);
        }

    }
   
    bool validation()
    {
        Errors.Clear();
        if (string.IsNullOrEmpty(store.StoreName))
        {
            Errors.Add("storename", "يجب ادخال اسم المخزن");

        }
        if (Errors.Count > 0)
        {
            IsValid = false;
        }
        else
        {
            IsValid = true;
        }
        return IsValid;
    }
}
